Checks: >
  clang-analyzer-*,
  clang-diagnostic-*,
  readability-*,
  portability-*,
  performance-*,
  modernize-*,
  google-*,
  cppcoreguidelines-*,
  -modernize-macro-to-enum
WarningsAsErrors: true
FormatStyle: google
HeaderFilterRegex: >
  "(include/).*\\.h$",
  "(lib/headers/).*\\.h$", 
  "(test/headers).*\\.h$"
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^[abijknxy]$
  - key: readability-identifier-length.IgnoredVariableNames
    value: ^[ab]$
