Checks: >
  clang-analyzer-*,
  readability-*,
  portability-*,
  performance-*,
  google-readability*
  cppcoreguidelines-*,
WarningsAsErrors: true
HeaderFilterRegex: >
  "(include/).*\\.h$",
  "(lib/headers/).*\\.h$", 
  "(tests/headers).*\\.h$"
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^[abijknxy]$
  - key: readability-identifier-length.IgnoredVariableNames
    value: ^[ab]$
